.wrap__page{
	&.-roadmap{
		&:before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background:url(../img/roadmap-bg.png) no-repeat;
			background-size: 100% auto;
			z-index: -1;
		}
	}
}